<div class="main-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">
        <h3 class="pre-title">Apúntate</h3>
        <h1 class="title">Sé nuestro invitado</h1>
      </div>
    </div>
  </div>
</div>

<section class="section contact-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-6">
        <div class="margin-bottom display-table">
          <div class="display-table-cell">
            <div class="heading">
              <h2 class="title">Contacta con nosotros</h2>
              <i class="icon icon-star"></i>
            </div>

            <p>El 11 de Octubre de 2020</p>
            <p>Únete a nosotros para celebrar este importante día</p>
            <h3><a href="javacript:void(0)" class="phone">645 10 37 12</a></h3>
            <h3><a href="javacript:void(0)" class="phone">686 16 19 88</a></h3>
            <h5>
              <a href="mailto:ana&pau@gmail.com" class="email">ana&pau@gmail.com</a>
            </h5>
            <p>Av. Carrilet 34-36, 5e 1ª, Reus 43204 (Tarragona)</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="contact-form margin-bottom">
          <h2 class="center-text">Are you getting?</h2>
          <h4 class="pre-title center-text">RSVP HERE!</h4>
          <form method="post">
            <div class="row">
              <div class="col-sm-12 margin-bottom">
                <label>Full Name</label>
                <input class="name-input" type="text" />
              </div>
              <div class="col-sm-12 margin-bottom">
                <label>Email</label>
                <input class="email-input" type="text" />
              </div>
              <div class="col-sm-6 margin-bottom">
                <label>Guest</label>
                <select class="event-select" name="option">
                  <option value="1"><span>00</span></option>
                  <option value="2">01</option>
                  <option value="3">02</option>
                  <option value="3">03</option>
                  <option value="3">04</option>
                </select>
              </div>
              <div class="col-sm-6 margin-bottom">
                <label>Event</label>
                <select class="event-select" name="option">
                  <option value="1">All Events</option>
                  <option value="3">Option 1</option>
                  <option value="3">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="col-sm-12 center-text">
                <button class="btn"><b>I AM ATTENDING</b></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="map-area">
		<div id="map" style="height:100%;"></div>
	</div>
	<script>
		function initMap() {
			var uluru = {lat: 40.876052, lng: 0.793841};
			var map = new google.maps.Map(document.getElementById('map'), {zoom: 10, center: uluru});
			var marler = new google.maps.Marker({position: uluru, map: map});
		}
	</script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xbXfTAtN6MRagOJiRJb3xkMikMmSLTw&callback=initMap">
	</script> -->

<div class="map-area">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1160.7698447630255!2d0.7926540579843996!3d40.875755122929874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a116da91a3916b%3A0x59f0ecb38ebaa526!2sHotel+Ametlla+Mar!5e1!3m2!1sca!2ses!4v1557415740620!5m2!1sca!2ses"
    width="100%"
    height="400"
    frameborder="0"
    style="border:0"
    allowfullscreen>
  </iframe>
</div>
