<header>
  <div class="container">
    <a class="logo" routerLink="/">
      <img src="./../../../assets/images/logo-white.png" alt="Logo"/>
    </a>
    <div class="menu-nav-icon" data-nav-menu="#main-menu">
      <i class="icon icon-bars"></i>
    </div>
    <ul class="main-menu visible-on-click" id="main-menu">
      <li><a routerLink="/">HOME</a></li>
      <li class="drop-down">
        <a href="#!">OUR STORIES<i class="icon icon-caret-down"></i></a>
        <ul class="drop-down-menu">
          <li><a href="#">FEATURED</a></li>
          <li><a href="#">ABOUT</a></li>
          <li class="drop-down">
            <a href="#!">CATEGORIES<i class="icon icon-caret-right"></i></a>
            <ul class="drop-down-menu drop-down-inner">
              <li><a href="#">FEATURED</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">CATEGORIES</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">THER WEDDING</a></li>
      <li><a href="#">GELLERY</a></li>
      <li><a routerLink="/contact">Lista de invitados</a></li>
    </ul>
  </div>
</header>
